<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>수정</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <form th:action="@{'/user/item/edit/' + ${item.title}}" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        name="title"
                        class="form-control"
                        id="inputTitle"
                        th:value="${item.title}"
                />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>저자</strong></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        name="author"
                        class="form-control"
                        id="inputAuthor"
                        th:value="${item.author}"
                />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label"><strong>가격</strong></label>
            <div class="col-sm-10">
                <input
                        type="number"
                        name="price"
                        class="form-control"
                        id="inputPrice"
                        th:value="${item.price}"
                />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputRemaining" class="col-sm-2 col-form-label"><strong>수량</strong></label>
            <div class="col-sm-10">
                <input
                        type="number"
                        name="remaining"
                        class="form-control"
                        id="inputRemaining"
                        th:value="${item.remaining}"
                />
            </div>
        </div>
        <div class="form-group row">
            <label for="inputYear" class="col-sm-2 col-form-label"><strong>발행년도</strong></label>
            <div class="col-sm-10">
                <input
                        type="number"
                        name="year"
                        class="form-control"
                        id="inputYear"
                        th:value="${item.year}"
                />
            </div>
        </div>
        <select class="form-select" aria-label="Default select example" name="category">
            <option selected th:value="${item.category}" th:text="${item.category}"></option>
            <option value="여행">여행</option>
            <option value="경제">경제</option>
            <option value="IT">IT</option>
            <option value="음악">음악</option>
            <option value="종교">종교</option>
            <option value="유아">유아</option>
            <option value="역사">역사</option>
            <option value="예술">예술</option>
            <option value="요리">요리</option>
            <option value="자기계발">자기계발</option>
        </select>
        <div class="form-group row">
            <label for="inputFile" class="col-sm-2 col-form-label"><strong>사진 선택</strong></label>
            <div class="col-sm-10">
                <input class="form-control" type="file" name="uploadFile" multiple="multiple" id="inputFile">
            </div>
        </div>

        <div style="display:none" class="form-group row">
            <label for="inputId" class="col-sm-2 col-form-label"><strong>id</strong></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        name="id"
                        class="form-control"
                        id="inputId"
                        th:value="${item.id}"
                />
            </div>
        </div>
        <div style="display:none" class="form-group row">
            <label for="inputWriter" class="col-sm-2 col-form-label"><strong>writer</strong></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        name="writer"
                        class="form-control"
                        id="inputWriter"
                        th:value="${item.writer}"
                />
            </div>
        </div>
        <div style="display:none" class="form-group row">
            <label for="inputGood" class="col-sm-2 col-form-label"><strong>좋아요</strong></label>
            <div class="col-sm-10">
                <input
                        type="number"
                        name="good"
                        class="form-control"
                        id="inputGood"
                        th:value="${item.good}"
                />
            </div>
        </div>
        <div class="form-group row" style="display:none">
            <label for="inputSaveFileName" class="col-sm-2 col-form-label"><strong>saveFileName</strong></label>
            <input id="inputSaveFileName" type="text" name="saveFileName" class="form-control" th:value="${item.saveFileName}">
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{/user/itemHome}" role="button">나가기</a>
            </div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="수정" />
            </div>
        </div>
    </form>
</div>
<script src="../js/bootstrap.min.js"></script>
<script src="../css/bootstrap.min.css"></script>
</body>
</html>