<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>주문취소 불가능</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header th:insert="common/header.html"></header>
<h1 style="text-align: center;">구매자님, 주문취소는 7일이내 가능합니다.</h1>
<h3 style="text-align: center;">현재 구매자님의 해당 상품이 주문한지 7일이 지나서 해당 페이지로 리다이렉트 되셨습니다.</h3>
<h4 style="text-align: center;">해당 상품의 주문취소는 불가능합니다.</h4>
<div class="container">
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto align-items-center">
            <p>
                1. 주문취소 주의사항 : 주문취소는 주문한지 7일이내 무조건 가능합니다.
            </p>
            <p>
                2. 7일이 지나면 주문취소는 <u>불가능</u>합니다.
            </p>
        </div>
    </div>
</div>
<div class="container row" style="float: none; margin:100 auto;">
    <div class="col-md-3" style="float: none; margin:0 auto;">
        <a class="btn btn-secondary" th:href="@{/user/itemHome}" role="button">상품홈으로</a>
    </div>
</div>
<script src="../js/bootstrap.min.js"></script>
<script src="../css/bootstrap.min.css"></script>
</body>
</html>